<body>

    <nav>
        <a target="_parent" href="edmund_hillary.html"> Edmund hillary </a>
        <a target="_parent" href="potash.html"> Potash </a>
        <a target="_parent" href="potassium.html"> Potassium </a>
    </nav>


</body>
